# Tous les fichiers volumineux, peu importe où ils sont stockés
*.fastq
*.fq
*.fna
*.fna.gz
*.fasta
*.gz
*.sra
*.bam
*.sam
fasterq.tmp.*
*.zip

# Tous les dossiers de données et de génomes (présents et futurs)
*data*/
*genome*/
*RNAseq*/
acanthaster_planci_ref_datas/

# Environnements/caches et dossiers
.snakemake/ 

# Runs EviAnn et gros fichiers intermédiaires
annotation_datas/
*.ht2
*.tmp
*.bam
*.sam
*.fna
*.faa

/conda_environments/env_*/
