# Environnements Conda installés
/conda_environments/env_*/

# Données de référence pour l'alignement
acanthaster_planci_ref_datas/

# Lectures RNA-seq brutes
/data_sets/RNAseq_data_set/**/*.fastq
/data_sets/RNAseq_data_set/**/*.fastq.gz
/data_sets/RNAseq_data_set/**/*.fq
/data_sets/RNAseq_data_set/**/*.fq.gz
/data_sets/RNAseq_data_set/**/*.sra

/data_sets/homology_data_set

# Fichiers resultats Eviann
/annotation_datas/eviann_datas/eviann_runs

# Fichiers de résultats FastQC au format zip
/fastqc_results/**/*.zip
